/* Estilos base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #304352;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d7d2cc, #304352);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d7d2cc, #304352);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    text-align: center;
}

.table th {
    background-color: #517b94;
    color: white;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Contenedor de botones para separación */
.btn-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* Espacio entre botones */
}

/* Estilos de botones con colores diferenciados */
.btn {
    padding: 8px 12px;
    text-align: center;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

/* Botón "Ver" */
.btn-info {
    background-color: #17a2b8;
    color: white;
}

.btn-info:hover {
    background-color: #117a8b;
}

/* Botón "Actualizar" */
.btn-warning {
    background-color: #ffc107;
    color: black;
}

.btn-warning:hover {
    background-color: #d39e00;
}

/* Botón "Eliminar" */
.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #a71d2a;
}

/* Estilo del botón de regreso con flecha */
.btn-back {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: color 0.3s;
}

.btn-back:hover {
    color: #0056b3;
}

/* Estilo de la flecha */
.arrow-left {
    font-size: 20px;
    margin-right: 8px;
}