<!DOCTYPE html>
<html lang="es">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quiénes somos? - SatisfaceTech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nosotros.css') }}">
</head>
<body>
    <div class="card text-center mt-5">
        <h1 class="mb-4">¿Quiénes somos?</h1>
        <p class="lead">SatisfaceTech es una empresa ubicada en Medellín, Antioquia, Colombia, especializada en la realización de encuestas de satisfacción laboral. Ayudamos a las empresas a evaluar el bienestar de sus trabajadores y a implementar mejoras que fomenten un ambiente laboral óptimo.
        </p>
        <hr>
        <div class="mt-4">
            <a href="/" class="btn btn-primary mx-2">Inicio</a>
            <a href="contacto" class="btn btn-secondary mx-2">Contacto</a>
            <a href="persona" class="btn btn-success mx-2">Registrar Empleado</a>
            <a href="resultados" class="btn btn-info mx-2">Ver Resultados</a>

        </div>
    </div>
</body>
</html>
