<!DOCTYPE html>
<html lang="es">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - SatisfaceTech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contacto.css') }}">
</head>
<body>
    <div class="container text-center mt-5">
        <h1 class="mb-4">Contáctenos</h1>
        <p class="lead">
            En SatisfaceTech nos enfocamos en mejorar el bienestar laboral a través de encuestas de satisfacción. Si deseas conocer el estado de tu equipo y optimizar el ambiente de trabajo, estamos aquí para ayudarte.
        </p>
        <p>
            Escríbenos ahora: <a href="mailto:contacto@satisfacetech.com">contacto@satisfacetech.com</a>
        </p>
        <p>
            Contáctanos en nuestra línea de atención: <a href="tel:+573122382849">+57 312 238 28 49</a>
        </p>        
        <hr>
        <div class="mt-4">
            <a href="/" class="btn btn-primary mx-2">Inicio</a>
            <a href="nosotros" class="btn btn-secondary mx-2">Nosotros</a>
            <a href="persona" class="btn btn-success mx-2">Registrar Empleado</a>
        </div>
    </div>
</body>
</html>